.filter-title{
    text-align: left;
}
.filter-header{
    text-align: left;
}
.filter-item{
    text-align: left;
    font-size: 14px;
}
.status-filter-icon {
    margin-left: 5px;
}
.status-filter-label {
    margin-left: 5px;
}