.plugin-details-card-body {
    width: auto;
    text-align: left;
}
.expand-icon {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
}
.expand-row-item {
    width: 10px;
}
label {
    font-weight: bold;
}

.card-label {
    font-weight: bold;
}

.config-style {
    font-size: 15px;
    background: #ffffff;
    color: rgb(59, 59, 59);
    padding: 5px;
    width: 90%;
}

.terminal-style {
    font-size: 13px;
    background: #0c0c0c;
    color: white;
    padding: 5px;
    width: 90%;
}

.terminal-style-error {
    font-size: 14px;
    background: #0c0c0c;
    color: #ff6e6d;
    padding: 5px;
    width: 90%;
}

.text-error {
    color: #ff0200;
}

.loading-container {
    margin: 50px;
}

.loading-text {
    text-align: center;
}

.score-text {
    font-weight: bold;
    font-size: 18px;
}

.plugin-health-danger-icon {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
}

.plugin-table {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}