.expand-stack-icon {
    width: 15px;
    height: 15px;
    align-items: center;
}
.expand-row-item {
    width: 10px;
}
.badge {
    font-size: 10px;
    text-align: left;
    color: black;
    margin-top: 5px;
    font-weight: bold;
}

.name-item {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desciprtion-item {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plugin-name-item {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}