.table-row-header {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.table-row {
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.table-row > td {
    padding: .4rem !important;
}

.table-row-closed:hover {
    --bs-table-bg: rgb(235, 233, 233);
}